.customer-reviews-section {
  padding: 40px 0;
}

.customer-section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.customer-card {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.customer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-img-thumb {
  margin-bottom: 30px;
}

.customer-comment {
  padding: 20px 50px;
  margin-bottom: 30px;
}
.customer-name-thumb {
  padding-top: 42px;
  padding-bottom: 52px;
}

body {
  margin: 0;
  // background-color: $main-white-color;
  // color: $second-text-color;
  // font-family: $main-font;
  letter-spacing: 0.04em;
}
.container {
  width: 100%;
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
  outline: 2px solid tomato;
}
.hidden__title {
  margin-top: -1px;
  margin-bottom: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
