/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './utils/base';
@import './utils/variables';
@import './utils/container';
@import './utils/mixin';

@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/reviews';
@import './layouts/contacts';
@import './layouts/footer';
@import './layouts/modal-contacts';
@import './layouts/location';
