$main-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', cursive;

$accent-color: #d41443;
$secondary-accent-color: #ffa5ba;

$main-white-color: #ffffff;
$second-text-color: #000000;
$third-text-color: #907e82;

$secondary-bg-color: #fff5f6;
$hero-bg-color: #ffb8ca;
$menu-bg-color: #e17992;
$cream-card-bg-color: #ffb8ca;
$coffee-card-bg-color: #f0d1a5;
$milkshake-card-bg-color: #c2e297;
$review-bg-color: #fafafa;

$menu-border-color: #e18298;

$border-color: #e1e1e1;
$vector-home-color: #d31342;
$vector-ellipse-color: #d9d9d9;
$btn-accent-hover-color: #c7133e;
$btn-hover-color: #ecebeb;
$btn-location-color: #d41342;
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
