<section class="about section" id="about">
  <div class="about-container container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__item">how it’s made?</h2>
    <div class="about-wraper">
      <picture class="about-wraper__pictures">
        <source
          srcset="./images/About/about-milk.png 1x, ./images/About/about-milk-desktop@2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/About/about-milk-tablet@1x.png 1x,
            ./images/About/about-milk-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/About/about-milk-mob@1x.png 1x, ./images/About/about-milk-mob@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img src="./images/About/about-milk.png" alt="" />
      </picture>
      <div class="about-wraper__text">
        <p class="about-wraper__text-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-wraper__text-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about__button" data-modal-open-about>
          Read more
          <svg class="about__button-icon" width="8" height="10">
            <use href="./images/icons.svg#icon-vector-1-3"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
