<section class="advantages">
    <h1 class="visually-hidden">Advantages</h1>
    <div class="container">
    <ul class="advantages-list">
        <li class="advantages-list_item icon1">
            <p class="advantages-list_text-number">721</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item icon2">
            <p class="advantages-list_text-number">16kg</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item icon3">
            <p class="advantages-list_text-number">84</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>