<section class="advantages">
    <h1 class="visually-hidden">Advantages</h1>
    <div class="container">
    <ul class="advantages-list">
        <li class="advantages-list_item">
            <img 
                    
                    src="./images/Advantages/icon1.png" 
                    alt="" 
                    width="33" 
                    height="50">
            <p class="advantages-list_text-number">721</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate<br> consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item">
            <img 
                    src="./images/Advantages/icon2.png" 
                    alt="" 
                    width="50" 
                    height="50">
            <p class="advantages-list_text-number">16kg</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate <br> consectetur. Mauris massa.</p>
        </li>

        <li class="advantages-list_item">
            <img 
                    src="./images/Advantages/icon3.png" 
                    alt=""
                    width="44" 
                    height="50">
            <p class="advantages-list_text-number">84</p>
            <p class="advantages-list_text">Aliquam ac dui vel dui vulputate<br> consectetur. Mauris massa.</p>
        </li>
    </ul>
    </div>
</section>