<section class="customer-reviews-section">

    <div class="container">

        <h2 class="customer-section-title">Customer Reviews</h2>

        <div class="customer-wrapper">

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-1.png" alt="Customer 1">
                    </div>
            
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
            
                        <div class="customer-name-thumb">
                            <p class="customer-name">Emily, Los Angeles</p>
                        </div>
                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-2.png" alt="Customer 2">
                    </div>

                
                    <div class="customer-comment">
                        <p class="customer-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>

                    <div class="customer-name-thumb">
                        <p class="customer-name">Emily, Los Angeles</p>
                    </div>
                
                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-3.png" alt="Customer 3">
                    </div>
            
                    
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
            
                        <div class="customer-name-thumb">
                            <p class="customer-name">Emily, Los Angeles</p>
                        </div>
                    
                </article>
            </div>

        </div>

    </div>
</section>



<section class="lazy slider" data-sizes="50vw">
    <div>
        <img data-lazy="http://placehold.it/350x300?text=1-350w"
            data-srcset="http://placehold.it/650x300?text=1-650w 650w, http://placehold.it/960x300?text=1-960w 960w"
            data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=2-350w"
            data-srcset="http://placehold.it/650x300?text=2-650w 650w, http://placehold.it/960x300?text=2-960w 960w"
            data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=3-350w"
            data-srcset="http://placehold.it/650x300?text=3-650w 650w, http://placehold.it/960x300?text=3-960w 960w"
            data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=4-350w"
            data-srcset="http://placehold.it/650x300?text=4-650w 650w, http://placehold.it/960x300?text=4-960w 960w"
            data-sizes="100vw">
    </div>
    <div>
        <img data-lazy="http://placehold.it/350x300?text=5-350w"
            data-srcset="http://placehold.it/650x300?text=5-650w 650w, http://placehold.it/960x300?text=5-960w 960w"
            data-sizes="100vw">
    </div>
    <div>
        <!-- this slide should inherit the sizes attr from the parent slider -->
        <img data-lazy="http://placehold.it/350x300?text=6-350w"
            data-srcset="http://placehold.it/650x300?text=6-650w 650w, http://placehold.it/960x300?text=6-960w 960w">
    </div>
</section>