<section class="customer-reviews-section">

    <div class="container">

        <h2 class="customer-section-title">Customer Reviews</h2>

        <div class="customer-wrapper">

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-1.png" alt="Customer 1">
                    </div>
            
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
            
                        <div class="customer-name-thumb">
                            <p class="customer-name">Emily, Los Angeles</p>
                        </div>
                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-2.png" alt="Customer 2">
                    </div>

                
                    <div class="customer-comment">
                        <p class="customer-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>

                    <div class="customer-name-thumb">
                        <p class="customer-name">Emily, Los Angeles</p>
                    </div>
                
                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <img class="customer-photo" src="./images/customer-reviews/customer-3.png" alt="Customer 3">
                    </div>
            
                    
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
            
                        <div class="customer-name-thumb">
                            <p class="customer-name">Emily, Los Angeles</p>
                        </div>
                    
                </article>
            </div>

        </div>

    </div>
</section>