<section class="gallery-section" id="gallery">
  <div class="container">
    <!--  <h2>Galerry</h2> -->
    <div class="gallery-container">
      <div class="item1">
        <picture>
          <source srcset="/images/Gallery/item1.png 1x" media="(min-width:1200px)" />
          <source srcset="/images/Gallery/item1-tablet.png 1x" media="(min-width:768px)" />
          <source srcset="/images/Gallery/item1-mob.png 1x" media="(min-width:480px)" />
          <img class="item" src="/images/Gallery/item1.png" alt="" />
        </picture>
      </div>
      <figure class="item2-3">
        <div>
          <picture>
            <source srcset="/images/Gallery/item2.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item2-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item2-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item2.png" alt="" />
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="/images/Gallery/item3.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item3-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item3-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item3.png" alt="" />
          </picture>
        </div>
      </figure>
      <figure class="item4-5">
        <div>
          <picture>
            <source srcset="/images/Gallery/item4.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item4-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item4-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item4.png" alt="" />
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="/images/Gallery/item5.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item5-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item5-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item5.png" alt="" />
          </picture>
        </div>
      </figure>
      <figure class="item6-7">
        <div>
          <picture>
            <source srcset="/images/Gallery/item6.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item6-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item6-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item6.png" alt="" />
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="/images/Gallery/item7.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item7-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item7-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item7.png" alt="" />
          </picture>
        </div>
      </figure>
      <figure class="item8-9">
        <div>
          <picture>
            <source srcset="/images/Gallery/item8.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item8-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item8-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item8.png" alt="" />
          </picture>
        </div>
        <div>
          <picture>
            <source srcset="/images/Gallery/item9.png 1x" media="(min-width:1200px)" />
            <source srcset="/images/Gallery/item9-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/Gallery/item9-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/Gallery/item9.png" alt="" />
          </picture>
        </div>
      </figure>
      <div>
        <picture>
          <source srcset="/images/Gallery/item10.png 1x" media="(min-width:1200px)" />
          <source srcset="/images/Gallery/item10-tablet.png 1x" media="(min-width:768px)" />
          <source srcset="/images/Gallery/item10-mob.png 1x" media="(min-width:480px)" />
          <img class="item" src="/images/Gallery/item10.png" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
