<section class="gallery-section" id="gallery">
  <div class="container">
    <!--  <h2>gallery</h2> -->
    <div class="gallery-container">
      <div class="item1">
        <picture>
          <source srcset="/images/gallery/item1.png 1x" media="(min-width:1280px)" />
          <source srcset="/images/gallery/item1-tablet.png 1x" media="(min-width:768px)" />
          <source srcset="/images/gallery/item1-mob.png 1x" media="(min-width:480px)" />
          <img class="item" src="/images/gallery/item1.png" alt="" />
        </picture>
      </div>
      <div class="item2-3">
        <div class="item2">
          <picture>
            <source srcset="/images/gallery/item2.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item2-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item2-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item2.png" alt="" />
          </picture>
        </div>
        <div class="item3">
          <picture>
            <source srcset="/images/gallery/item3.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item3-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item3-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item3.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="item4-5">
        <div class="item4">
          <picture>
            <source srcset="/images/gallery/item4.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item4-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item4-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item4.png" alt="" />
          </picture>
        </div>
        <div class="item5">
          <picture>
            <source srcset="/images/gallery/item5.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item5-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item5-mob.png 1x" media="(min-width:480px)" />
            <img class="item555" src="/images/gallery/item5.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="item6-7">
        <div class="item6">
          <picture>
            <source srcset="/images/gallery/item6.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item6-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item6-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item6.png" alt="" />
          </picture>
        </div>
        <div class="item7">
          <picture>
            <source srcset="/images/gallery/item7.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item7-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item7-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item7.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="item8-9">
        <div class="item8">
          <picture>
            <source srcset="/images/gallery/item8.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item8-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item8-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item8.png" alt="" />
          </picture>
        </div>
        <div class="item9">
          <picture>
            <source srcset="/images/gallery/item9.png 1x" media="(min-width:1280px)" />
            <source srcset="/images/gallery/item9-tablet.png 1x" media="(min-width:768px)" />
            <source srcset="/images/gallery/item9-mob.png 1x" media="(min-width:480px)" />
            <img class="item" src="/images/gallery/item9.png" alt="" />
          </picture>
        </div>
      </div>
      <div class="item10">
        <picture>
          <source srcset="/images/gallery/item10.png 1x" media="(min-width:1280px)" />
          <source srcset="/images/gallery/item10-tablet.png 1x" media="(min-width:768px)" />
          <source srcset="/images/gallery/item10-mob.png 1x" media="(min-width:480px)" />
          <img class="item" src="/images/gallery/item10.png" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>
