<header class="header" id="header">
    <div class="header-container">
        <div class="header-wrap">
            <img src="./images/logo.png" alt="logo" class="logo" width="199" height="50">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#header" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#hero" class="nav__link">About us</a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">How it’s made?</a>
                    </li>
                    <li class="nav__item">
                        <a href="#products" class="nav__link">Our products</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="nav__link">Contact</a>
                    </li>
                </ul>
            </nav>
            <button type="button" class="mobile-menu__open">
                <svg class="mobile-menu__icon-open" width="20" height="12">
                    <use href="./images/icons.svg#icon-menu"></use>
                </svg>
            </button>
            <button type="button" class="header__btn header__btn--tablet" data-modal-open>Buy now ></button>
        </div>
    </div>
    
    <div class="mobile-menu is-hidden">
        <button type="button" class="mobile-menu__close">
            <svg class="mobile-menu__icon-close" width="14" height="14">
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
        <button type="button" class="header__btn header__btn--mob" data-modal-open1>Buy now ></button>
        <ul class="mob-menu__list">
            <li class="mob-menu__item">
                <a href="#header" class="mob-menu__link">Home</a>
            </li>
            <li class="mob-menu__item">
                <a href="#hero" class="mob-menu__link">About us</a>
            </li>
            <li class="mob-menu__item">
                <a href="#about" class="mob-menu__link">How it’s made?</a>
            </li>
            <li class="mob-menu__item">
                <a href="#products" class="mob-menu__link">Our products</a>
            </li>
            <li class="mob-menu__item">
                <a href="#contacts" class="mob-menu__link">Contact</a>
            </li>
        </ul>
    </div>
</header>