<section class="hero">
    <div class=" hero-container">
        <div class="hero-content">
            <div class="hero-baner-thumb">
                <picture class="hero-baner__img">
                    <source
                        srcset="./images/Hero-header/slider-ice-cream-mob@1x.png 1x, ./images/Hero-header/slider-ice-cream-mob@2x.png 2x"
                        media="(max-width: 767px)" />
                    <source
                        srcset="./images/Hero-header/slider-ice-cream-tablet@1x.png 1x, ./images/Hero-header/slider-ice-cream-tablet@2x.png 2x"
                        media="(max-width: 1279px)" />
                    <source
                        srcset="./images/Hero-header/slider-ice-cream.png 1x, ./images/Hero-header/slider-ice-cream-desktop@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <img src="./images/Hero-header/slider-ice-cream.png" alt="ice-crem" />
                </picture>
            </div>
            <div class="hero-thumb">
                    <div class="hero-left">
                        <div class="hero-wrap">
                            <h1 class="hero__title">ice cream made with<span class="hero__span">passion</span></h1>
                        </div>
                        <ul class="hero-list">
                            <li class="hero-list__item">
                                <a class="hero__btn hero__btn--left" href="#products">Products</a>
                            </li>
                            <li class="hero-list__item">
                                <a class="hero__btn hero__btn--right" href="#about">How it’s made?</a>
                            </li>
                        </ul>
                            <div class="left-bottom-thumb">
                                <picture class="left-bottom__img">
                                    <source
                                        srcset="./images/Hero-header/slider-milk-tablet@1x.png 1x, ./images/Hero-header/slider-milk-tablet@2x.png 2x"
                                        media="(max-width: 1279px)" />
                                    <source
                                        srcset="./images/Hero-header/slider-milk.png 1x, ./images/Hero-header/slider-milk-desktop@2x.png 2x"
                                        media="(min-width: 1280px)" />
                                    <img src="./images/Hero-header/slider-milk.png" alt="milk" />
                                </picture>
                            </div>
                            <div class="left-bottom-content">
                                <div class="text-thumb">
                                        <p class="left-bottom__text">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                        </p>
                                </div>
                                    <button type="button" class="after-text__button">
                                        <svg class="after-text__icon" width="8" height="8">
                                            <use href="./images/icons.svg#icon-red-arrow-right"></use>
                                        </svg>
                                    </button>
                            </div>
                    </div>
                    <div class="hero-right">
                        <ul class="hero-right-top">
                            <li class="hero-right__item">
                                <p class="hero-right__text"><span class="hero-right__span">16</span>cafes</p>
                            </li>
                            <li class="hero-right__item">
                                <p class="hero-right__text"><span class="hero-right__span">26</span>food trucks</p>
                            </li>
                        </ul>
                        <picture class="right-bottom__img">
                            <source
                                srcset="./images/Hero-header/slider-girl-tablet@1x.png 1x, ./images/Hero-header/slider-girl-tablet@2x.png 2x"
                                media="(max-width: 1279px)" />
                            <source srcset="./images/Hero-header/slider-girl.png 1x, ./images/Hero-header/slider-girl-desktop@2x.png 2x"
                                media="(min-width: 1280px)" />
                            <img src="./images/Hero-header/slider-girl.png" alt="girl" />
                        </picture>
                    </div>
            </div>
        </div>
    </div>
</section>