<section class="hero">
    <div class="hero-content-thumb container">
        <div class="hero-wrap">
            <h1 class="hero__title">ice cream made with<span class="hero__span">passion</span></h1>
        </div>
        <button type="button" class="hero__btn hero__btn--left">
            <a href="#products" class="hero__link">Products</a>
        </button>
        <button type="button" class="hero__btn hero__btn--right">
            <a href="#about" class="hero__link">How it’s made?</a>
        </button>
    </div>
    <div class="hero-baner-thumb">
        <img class="hero-baner__img" srcset="./images/Hero-header/slider-ice-cream-mob@1x.png 1x, ./images/Hero-header/slider-ice-cream-mob@2x.png 2x" src="./images/Hero-header/slider-ice-cream-mob@1x.png" alt="ice-crem" />
    </div>
</section>