
<div class="backdrop-location is-hidden" data-modal>
    <div class="location">
        <button class="location__button" data-modal-close type="button" width="30" hight="30">
            <svg class="location__svg" width="11px" height="11px">
                <use href="#"></use>
            </svg>
        </button>
        <div>
<address class="address">
    <a class="address__map" href="https://goo.gl/maps/CiBJNMkjHxxDp35R9" target="_blank"
                rel="noopener noreferrer"></a></address></div>