
<div class="backdrop-location is-hidden" data-modal-location>
    <div class="location">
        <button class="location__button" data-modal_location-close type="button" width="30" hight="30">
            <svg class="location__svg" width="11px" height="11px">
                <use href="#"></use>
            </svg>
    <iframe class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20309.075323923767!2d30.4721233!3d50.4851493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdc6197a69ef%3A0x43c0131c2a35c8c3!2z0KHQv9C-0YDRgtC60L7QvNC_0LvQtdC60YEg0JDQstCw0L3Qs9Cw0YDQtA!5e0!3m2!1sru!2sua!4v1642412015828!5m2!1sru!2sua"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    
    </button></iframe></div></div>
                