<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal__button" data-modal-close type="button" width="30" hight="30">
            <svg class="modal__svg" width="11px" height="11px">
                <use href="./images/icons.svg#icon-menu-close"></use>
            </svg>
        </button>
        <div>
        <h1 class="modal__title">Terms of partnership</h1>
        </div>
        <div class="modal__info">
            <h2 class="modal__info-title">INVESTMENTS</h2>
            <p class="modal__text">$17'000 - $120'000</p>
            <ul class="modal__list">Investments include the cost of opening a restaurant:
                <li class="modal__item"> <svg class="modal-svg" width="12" height="12">
                    <use href="./images/icons.svg#icon-Ellipse-4x4"></use>
                </svg>
                    room rental</li>
                <li class="modal__item"> <svg class="modal-svg" width="12" height="12">
                    <use href="./images/icons.svg#icon-Ellipse-4x4"></use>
                </svg>
                repair and arrangement</li>
                <li class="modal__item"> <svg class="modal-svg" width="12" height="12">
                    <use href="./images/icons.svg#icon-Ellipse-4x4"></use>
                </svg> purchase of equipment</li>
                <li class="modal__item"> <svg class="modal-svg" width="12" height="12">
                    <use href="./images/icons.svg#icon-Ellipse-4x4"></use>
                </svg> advertising</li>
            </ul>
        </div>
        <div class="modal__info">
            <h2 class="modal__info-title">ENTRANCE FEE</h2>
            <p class="modal__text">$7'000 - $15'000</p>
            <p class="modal__text">The entry fee entitles the franchisee to work in the future using the brand name developed
            marketing
            strategies and modern technologies of the franchisor. As well as its standards, developments and products.</p>
        </div>
        <div class="modal__info">
            <h2 class="modal__info-title">REGULAR DEPOSIT</h2>
            <p class="modal__text">Royalties - 2% (of revenue) per month</p>
        </div>
        <h2 class="modal__pre-title">FRANCHISE PAYBACK - FROM 7 TO 10 MONTHS.</h2>
        <h2 class="modal__pre-title">NET PROFIT — FROM $4'000 TO $10'000</h2>


        <form class="form">
            <p class="form__text">Callback</p>
            <div class="form__modal">
                <label class="form__label" for="name"> Name</label>
                <input class="form__input" type="name" name="user-name" id="name" />
                <svg class="form__svg" width="12" height="12">
                    <use href="#"></use>
                </svg>
            </div>

            <div class="form__modal">
                <label class="form__label" for="tell"> Tell</label>
                <input class="form__input" type="tell" name="user-tell" id="tell" />
                <svg class="form__svg" width="13" height="13">
                    <use href="#"></use>
                </svg>
            </div>

            <div class="form__modal">
                <label class="form__label" for="e-mail"> E-mail</label>
                <input class="form__input" type="e-mail" name="user-mail" id="e-mail" />
                <svg class="form__svg" width="15" height="12">
                    <use href="#"></use>
                </svg>
            </div>
            <button type="submit" class="button-send">Send</button>
        </form>
    </div>
</div>