<div class="backdrop-about is-hidden" data-modal-about>
    <div class="modal-about">
        <button class="modal__button-about" data-modal-close-about>
            <svg class="modal__close" width="18" height="18">
                <use href="./images/icons.svg#close-black"></use>
            </svg>
        </button>
        <h2 class="modal__title-about">Made with passion and love!</h2>
        <ul class="modal__about-info-list list">
            <li class="modal__about-info-item">
                <h3 class="modal__subtitle-about">High-quality ingredients</h3>
                <p class="modal__about-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi adipisci ullam hic, voluptates consequatur unde quo dolores tempore dolorem cupiditate.</p>
            </li>
            <li class="modal__about-info-item">
                <h3 class="modal__subtitle-about">Modern equipment</h3>
                <p class="modal__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, cumque earum nisi minima nihil neque error. Deleniti voluptates dolore deserunt consequatur rem! Tempore, eveniet culpa! Magni quos saepe vel itaque!</p>
            </li>
            <li class="modal__about-info-item">
                <h3 class="modal__subtitle-about">Maintenance and environmental responsibility</h3>
                <p class="modal__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptatem corporis, enim modi maiores veritatis.</p>
            </li>
        </ul>         
    </div>
</div>