<section class="products section" id="products">
    <div class="container">
        <p class="products__label-title">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="products__item icecream">
                
                

<!--                    !!!!!!!!!!! -->
                <!-- ДОБАВЛЯЮ ВСПЛЫВАЮЩИЙ ТЕКСТ -->



                <p class="products__bla-bla-bla" data-product>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut pariatur sed quidem sint vel perspiciatis amet
                repellat iure dolore, assumenda laudantium id rerum quam molestias necessitatibus. Unde ipsa, fugiat aliquam placeat
                aliquid est eaque nulla, tempora animi velit reiciendis.
                </p>


<!--            !!!!!!!!!!!!!!!!!! -->
                <!-- АЖ ДО СЮДА ДОБАВЛЯЮ ВСПЛЫВАЮЩИЙ ТЕКСТ -->

                
                <h3 class="products__item-title">ice cream</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>

                    <!-- !!!!!!!!!!!!!!!!!!!! -->
                    <!--     А ТУТ ИКОНКУ ОБОРАЧИВАЮ В BUTTON    -->

                    <button class="products__button" type="button" data-product-open>
                    <!-- <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons.svg#icon-Ellipse-arrow-right"></use>
                    </svg> -->
                    <img class="cards__image" src="./images/Products/arrow-right-mob@1x.png" alt="Red arrow in white circle">
                    </button>


                    <!-- !!!!!!!!!!!!!!!!!!!! -->
                    <!-- АЖ ДО СЮДА ЭТО ДЕЛАЮ -->


                </div>
            </li>
            <li class="products__item icecoffee">

                <p class="products__bla-bla-bla" data-product>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut pariatur sed quidem sint vel perspiciatis amet
                repellat iure dolore, assumenda laudantium id rerum quam molestias necessitatibus. Unde ipsa, fugiat aliquam placeat
                aliquid est eaque nulla, tempora animi velit reiciendis.
                </p>

                <h3 class="products__item-title">ice coffee</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>

                    <button class="products__button" type="button" data-product-open>
                        <img class="cards__image" src="./images/Products/arrow-right-mob@1x.png" alt="Red arrow in white circle">
                    </button>
                    
                </div>
            </li>
            
            <li class="products__item milkshakes">
                <p class="products__bla-bla-bla" data-product>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ut pariatur sed quidem sint vel perspiciatis amet repellat iure dolore, assumenda laudantium id rerum quam molestias necessitatibus. Unde ipsa, fugiat aliquam placeat aliquid est eaque nulla, tempora animi velit reiciendis.
                </p>
                <h3 class="products__item-title">milkshakes</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>
                    <button class="products__button" type="button" data-product-open>
                        <img class="cards__image" src="./images/Products/arrow-right-mob@1x.png" alt="Red arrow in white circle">
                    </button>
                </div>
            </li>
        </ul>
    </div>


<!-- НУ И СКРИПТ ДОБАВЛЯЮ КОНЕЧНО -->

        <script src="./js/products.js"></script>

        <!--                АЖ ДО СЮДА -->

</section>