<section class="products section" id="products">
    <div class="container">
        <p class="products__label-title">100% natural</p>
        <h2 class="products__title">products</h2>
        <ul class="products__list list">
            <li class="products__item icecream">
                
                

<!--                    !!!!!!!!!!! -->
                <!-- ДОБАВЛЯЮ ВСПЛЫВАЮЩИЙ ТЕКСТ -->



                <p class="products__bla-bla-bla" data-product>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora soluta iure accusamus vero voluptate aspernatur pariatur suscipit eveniet omnis dolorem, earum maxime blanditiis vel quos ullam minus doloremque quae optio, asperiores assumenda veritatis. Itaque obcaecati quidem unde. Aut facilis omnis, provident rerum qui rem, sit magnam veniam ratione odio velit obcaecati aliquid officia recusandae quam iste quibusdam eaque cum? Nisi omnis, nostrum autem tenetur exercitationem soluta consequuntur reprehenderit dolores consectetur quas labore laudantium, suscipit quos mollitia excepturi minima. Corporis nemo laboriosam enim molestias, inventore exercitationem minima consequuntur delectus? Ipsa aut ex nulla! Delectus dicta itaque doloremque sed, atque ab maxime?
                </p>


<!--            !!!!!!!!!!!!!!!!!! -->
                <!-- АЖ ДО СЮДА ДОБАВЛЯЮ ВСПЛЫВАЮЩИЙ ТЕКСТ -->

                
                <h3 class="products__item-title">ice cream</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>

                    <!-- !!!!!!!!!!!!!!!!!!!! -->
                    <!--     А ТУТ ИКОНКУ ОБОРАЧИВАЮ В BUTTON    -->

                    <button type="button" data-product-open>
                    <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons.svg#icon-Ellipse-arrow-right"></use>
                    </svg>
                    </button>


                    <!-- !!!!!!!!!!!!!!!!!!!! -->
                    <!-- АЖ ДО СЮДА ЭТО ДЕЛАЮ -->


                </div>
            </li>
            <li class="products__item icecoffee">
                <h3 class="products__item-title">ice coffee</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>
                    <svg class="products__icon" width="40" height="40">
                        <use href="/images/icons.svg#icon-Ellipse-arrow-right"></use>
                    </svg>
                </div>
            </li>
            <li class="products__item milkshakes">
                <h3 class="products__item-title">milkshakes</h3>
                <div class="products__item-description">
                    <p class="products__item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et. dolore magna aliqua facilisis.
                    </p>
                    <svg class="products__icon" width="40" height="40">
                        <use href="./images/icons.svg#icon-Ellipse-arrow-right"></use>
                    </svg>
                </div>
            </li>
        </ul>
    </div>


<!-- НУ И СКРИПТ ДОБАВЛЯЮ КОНЕЧНО -->

        <script src="./js/products.js"></script>

        <!--                АЖ ДО СЮДА -->

</section>