<section class="customer-reviews" id="reviews">

    <div class="container">

        <h2 class="visually-hidden">Customer Reviews</h2>

        <div class="customer wrapper">

            <div class="slide">
                <article class="slide__customer-card">
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/customer-1.png 1x,
                                            /images/Сustomer-reviews/customer-1@2x.png 2x">
                            <img src="/images/Сustomer-reviews/customer-1.png" alt="Customer 1">
                        </picture>
                    </div>

                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Jane, Chicago</p>
                    </div>
                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <div class="slide__img-thumb">
                        <picture>
                            
                            <source srcset="/images/Сustomer-reviews/customer-2.png 1x,
                                            /images/Сustomer-reviews/customer-2@2x.png 2x">
                            <img src="/images/Сustomer-reviews/customer-2.png" alt="Customer 2">
                        </picture>
                    </div>

                <div class="slide__review-wrapper">
                    <div class="slide__review-thumb">
                        <p class="slide__review-text">
                            An excellent recipe and a large selection of great ice cream: the most beloved with rum, banana, the rest are also
                            pretty good. I will definitely buy here again!
                        </p>
                    </div>
                </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Melissa, San Francisco</p>
                    </div>
                

                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/customer-3.png 1x,
                                            /images/Сustomer-reviews/customer-3@2x.png 2x">
                            <img src="/images/Сustomer-reviews/customer-3.png" alt="Customer 3">
                        </picture>
                    </div>


                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                I really like it - there is always a pretty large selection. Prices are certainly not small - but it's worth it, believe
                                me! Strawberry is my favorite, I advise everyone. The most delicious ice cream I have ever tried.
                            </p>
                        </div>
                    </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Heather, Milwaukee</p>
                    </div>
                </article>
            </div>

        </div>

    </div>
</section>


