<section class="customer-reviews" id="reviews">

    <div class="container">

        <h2 class="visually-hidden">Customer Reviews</h2>

        <div class="customer wrapper">

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/oleksii.png 1x,
                                            /images/Сustomer-reviews/oleksii@2x.png 2x">
                            <img src="/images/Сustomer-reviews/oleksii.png" alt="Customer 1">
                        </picture>
                    </div>

                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Oleksii Kovalenko, Grebinka</p>
                    </div>
                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/kateryna.png 1x,
                                                                    /images/Сustomer-reviews/kateryna@2x.png 2x">
                            <img src="/images/Сustomer-reviews/kateryna.png" alt="Customer 2">
                        </picture>
                    </div>

                <div class="slide__review-wrapper">
                    <div class="slide__review-thumb">
                        <p class="slide__review-text">
                            An excellent recipe and a large selection of great ice cream: the most beloved with rum, banana, the rest are also
                            pretty good. I will definitely buy here again!
                        </p>
                    </div>
                </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Kateryna Skrynnikova, Dnipro</p>
                    </div>
                

                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                        <source srcset="/images/Сustomer-reviews/vladyslav.png 1x,
                                                                                            /images/Сustomer-reviews/vladyslav@2x.png 2x">
                        <img src="/images/Сustomer-reviews/vladyslav.png" alt="Customer 3">
                        </picture>
                    </div>


                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                I really like it - there is always a pretty large selection. Prices are certainly not small - but it's worth it, believe
                                me! Strawberry is my favorite, I advise everyone. The most delicious ice cream I have ever tried.
                            </p>
                        </div>
                    </div>

                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Vladyslav, Kyiv</p>
                    </div>
                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source
                                srcset="/images/Сustomer-reviews/alexandr.png 1x,
                                                                                                                    /images/Сustomer-reviews/alexandr@2x.png 2x">
                            <img src="/images/Сustomer-reviews/alexandr.png" alt="Customer 4">
                        </picture>
                    </div>
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                Amazing ice cream, just a delight! Ice cream creamy, perfect in sugar, with beautiful iridescent hues. The quality and
                                taste are top notch!

                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Alexandr, Poltava</p>
                    </div>
                </article>
            </div>
            
            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source
                                srcset="/images/Сustomer-reviews/tetiana.png 1x,
                                        /images/Сustomer-reviews/tetiana@2x.png 2x">
                            <img src="/images/Сustomer-reviews/tetiana.png" alt="Customer 5">
                        </picture>
                    </div>
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                An excellent recipe and a large selection of great ice cream: the most beloved with rum, banana, the
                                rest are also
                                pretty good. I will definitely buy here again!
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Tetiana Posmashna, Kremenchuk</p>
                    </div>
            
            
                </article>
            </div>
            
            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/vladlina.png 1x,
                                                                /images/Сustomer-reviews/vladlina@2x.png 2x">
                            <img src="/images/Сustomer-reviews/vladlina.png" alt="Customer 6">
                        </picture>
                    </div>
            
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                I rarely eat ice cream, but your company's product is just amazing! I will definitely recommend to my friends to buy it.
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Vladlina, Dnipro</p>
                    </div>
                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/andrei.png 1x,
                                                                                        /images/Сustomer-reviews/andrei@2x.png 2x">
                            <img src="/images/Сustomer-reviews/andrei.png" alt="Customer 7">
                        </picture>
                    </div>
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                I really liked the site: convenient, nice design, and nothing more. It makes me want to buy ice cream :)
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Andrei Miheyev, Pavlograd</p>
                    </div>
                </article>
            </div>

            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source
                                srcset="/images/Сustomer-reviews/svetlana.png 1x,
                                                                                                    /images/Сustomer-reviews/svetlana@2x.png 2x">
                            <img src="/images/Сustomer-reviews/svetlana.png" alt="Customer 8">
                        </picture>
                    </div>
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Svetlana, Kiev</p>
                    </div>
                </article>
            </div>
            
            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source
                                srcset="/images/Сustomer-reviews/alexandr-popov.png 1x,
                                        /images/Сustomer-reviews/alexandr-popov@2x.png 2x">
                            <img src="/images/Сustomer-reviews/alexandr-popov.png" alt="Customer 9">
                        </picture>
                    </div>
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                An excellent recipe and a large selection of great ice cream: the most beloved with rum, banana, the
                                rest are also
                                pretty good. I will definitely buy here again!
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Alexandr Popov, Kiev</p>
                    </div>
                </article>
            </div>
            
            <div class="slide">
                <article class="slide__customer-card">
                    <h3 class="visually-hidden">Customer-slides</h3>
                    <div class="slide__img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/volodymyr.png 1x,
                                                                /images/Сustomer-reviews/volodymyr@2x.png 2x">
                            <img src="/images/Сustomer-reviews/volodymyr.png" alt="Customer 10">
                        </picture>
                    </div>
            
            
                    <div class="slide__review-wrapper">
                        <div class="slide__review-thumb">
                            <p class="slide__review-text">
                                I accidentally came across your site on the net, and did not regret it: I have probably never seen such a variety of ice
                                cream anywhere else! And of course there is pistachio, my favorite!
                            </p>
                        </div>
                    </div>
            
                    <div class="slide__name-thumb">
                        <p class="slide__customer-name">Volodymyr, Smila</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


