<section class="customer-reviews-section">

    <div class="container">

        <h2 class="customer-section-title">Customer Reviews</h2>

        <div class="customer wrapper">

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/customer-1.jpg 1x,
                                            /images/Сustomer-reviews/customer-1@2x.jpg 2x" media="(min-width: 1200px)">
                            <source srcset="/images/Сustomer-reviews/customer-1.jpg 1x,
                                             /images/Сustomer-reviews/customer-1@2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="/images/Сustomer-reviews/customer-1.jpg 1x,
                                            /images/Сustomer-reviews/customer-1@2x.jpg 2x" media="(min-width: 320px)">
                            <img src="/images/Сustomer-reviews/customer-1.jpg" alt="Customer 1">
                        </picture>
                    </div>

                    <div class="customer-comment-wrapper">
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>

                    <div class="customer-name-thumb">
                        <p class="customer-name">Jane, Chicago</p>
                    </div>
                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/customer-2.jpg 1x,
                                            /images/Сustomer-reviews/customer-2@2x.jpg 2x" media="(min-width: 1200px)">
                            <source srcset="/images/Сustomer-reviews/customer-2.jpg 1x,
                                            /images/Сustomer-reviews/customer-2@2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="/images/Сustomer-reviews/customer-2.jpg 1x,
                                            /images/Сustomer-reviews/customer-2@2x.jpg 2x" media="(min-width: 320px)">
                            <img src="/images/Сustomer-reviews/customer-2.jpg" alt="Customer 2">
                        </picture>
                    </div>

                <div class="customer-comment-wrapper">
                    <div class="customer-comment">
                        <p class="customer-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                            nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>

                    <div class="customer-name-thumb">
                        <p class="customer-name">Melissa, San Francisco</p>
                    </div>
                

                </article>
            </div>

            <div class="slides">
                <article class="customer-card">
                    <div class="customer-img-thumb">
                        <picture>
                            <source srcset="/images/Сustomer-reviews/customer-3.jpg 1x,
                                            /images/Сustomer-reviews/customer-3@2x.jpg 2x" media="(min-width: 1200px)">
                            <source srcset="/images/Сustomer-reviews/customer-3.jpg 1x,
                                            /images/Сustomer-reviews/customer-3@2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="/images/Сustomer-reviews/customer-3.jpg 1x,
                                            /images/Сustomer-reviews/customer-3@2x.jpg 2x" media="(min-width: 320px)">
                            <img src="/images/Сustomer-reviews/customer-3.jpg" alt="Customer 3">
                        </picture>
                    </div>


                    <div class="customer-comment-wrapper">
                        <div class="customer-comment">
                            <p class="customer-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                nulla quam nunc,
                                accumsan
                                congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>

                    <div class="customer-name-thumb">
                        <p class="customer-name">Heather, Milwaukee</p>
                    </div>
                </article>
            </div>

        </div>

    </div>
</section>


