.section {
  padding-top: 125px;
  padding-bottom: 39px;
}
.about {
  position: relative;
  background-color: $secondary-bg-color;
}
.about__label {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-accent-color;
}
.about__item {
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: $secondary-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
}
.about__thumb {
  justify-content: center;
}
.about__text-first {
  margin-top: 47px;
  margin-bottom: 47px;
  width: 220px;
  height: 79px;
  left: 50px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: $second-text-color;
}
.about__text-second {
  // position: relative;
  margin-bottom: 47px;
  width: 220px;
  height: 155px;
  left: 50px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $third-text-color;
}
.about__button {
  position: absolute;
  margin-left: 50px;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  padding: 0 37px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  display: flex;
  align-items: center;
  text-align: center;
  border: transparent;
  background-color: $main-white-color;
  color: $accent-color;
  cursor: pointer;
  position: relative;
  justify-content: center;
  margin-left: 30px;
}
.button__icon {
  margin-left: 14px;
}
.about-baner-thumb {
  position: absolute;
  top: 750px;
  left: 0;
  width: 320px;
  height: 133px;
}
.about-baner {
  // position: absolute;
  margin: 0;
}
