.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  background: $secondary-bg-color;
  padding-top: 39px;
  padding-bottom: 50px;
  @media screen and (min-width: 768px) {
    padding-top: 66px;
    padding-bottom: 70px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 39px;
    padding-bottom: 70px;
  }
}

.advantages-list {
  @media screen and (max-width: 767px) {
    width: 230px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.advantages-list_item {
  margin-bottom: 38px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-right: 60px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.icon1 {
  &::before {
    content: url('/images/Advantages/icon1.png');
    width: 33px;
    height: 50px;
  }
}

.icon2 {
  &::before {
    content: url('/images/Advantages/icon2.png');
    width: 50px;
    height: 50px;
  }
}

.icon3 {
  &::before {
    content: url('/images/Advantages/icon3.png');
    width: 44px;
    height: 50px;
  }
}

.advantages-list_text-number {
  margin-top: 16px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: $accent-color;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-top: 36px;
    margin-bottom: 13px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-list_text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
