.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.contacts {
  height: 100%;
  background-color: $main-white-color;
  background-image: linear-gradient(
    180deg,
    $main-white-color 84px,
    $secondary-bg-color 0,
    $secondary-bg-color
  );
}
.contacts__list {
  font-family: $main-font;
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts__item {
  padding: 43px 20px;
  max-width: 220px;
  border-radius: 24px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  margin-bottom: 20px;
  background-color: $main-white-color;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__wrap {
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
}
.contacts__wrap:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.contacts__wrap:last-child {
  margin-bottom: 0;
}
.contacts__subtitle-cafe {
  text-transform: uppercase;
  font-size: 12px;
  background-color: $coffee-card-bg-color;
  width: 80px;
  border-radius: 4px;
  text-align: center;
  color: $main-white-color;
  letter-spacing: 0.04em;
  line-height: 1.83;
}
.contacts__location {
  font-size: 12px;
  color: #000000;
  letter-spacing: 0.04em;
  line-height: 1.83;
  margin-bottom: 10px;
}
.contacts__location-text {
  font-size: 12px;
  color: $third-text-color;
  letter-spacing: 0.04em;
  line-height: 1.2;
}
.contacts__date {
  font-size: 12px;
  color: $second-text-color;
  letter-spacing: 0.04em;
  line-height: 1.83;
}
.contacts__time {
  font-size: 12px;
  color: $secondary-accent-color;
  letter-spacing: 0.04em;
  line-height: 1.83;
}
.contacts__tel-link,
.contacts__mail-link {
  font-size: 12px;
  color: $second-text-color;
  letter-spacing: 0.04em;
  line-height: 1.5;
  transition: $transition-duration, $timing-function;
}
.contacts__tel-link:hover,
.contacts__mail-link:hover,
.contacts__tel-link:focus,
.contacts__mail-link:focus {
  color: $accent-color;
}
.contacts__subtitle-foodtruck {
  text-transform: uppercase;
  font-size: 12px;
  background-color: $milkshake-card-bg-color;
  width: 130px;
  border-radius: 4px;
  text-align: center;
  color: $main-white-color;
  letter-spacing: 0.04em;
  line-height: 1.83;
}
.contacts__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacts__location-btn {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $main-white-color;
  border-radius: 22px;
  text-align: center;
  background-color: $accent-color;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  height: 44px;
  padding: 10px 17px;
  transition: color, $transition-duration, $timing-function, background-color, $transition-duration,
    $timing-function;
  margin-bottom: 10px;
}
.contacts__location-btn:focus,
.contacts__location-btn:hover {
  color: $accent-color;
  background-color: $main-white-color;
}
.contacts__icon-white {
  fill: currentColor;
  display: flex;
  margin-left: 7px;
}
.contacts__icon-white:hover,
.contacts__icon-white:focus {
  color: $accent-color;
}

.contacts__franchise-btn {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $accent-color;
  border-radius: 22px;
  text-align: center;
  background-color: $main-white-color;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 161.45px;
  padding: 10px 17px;
  transition: color, $transition-duration, $timing-function, background-color, $transition-duration,
    $timing-function;
}
.contacts__franchise-btn:focus,
.contacts__franchise-btn:hover {
  color: $main-white-color;
  background-color: $accent-color;
}
.contacts__icon-red {
  fill: currentColor;
  display: flex;
  margin-left: 7px;
}
.contacts__franchise-btn:focus,
.contacts__icon-red,
.contacts__franchise-btn:hover,
.contacts__icon-red {
  fill: $main-white-color;
}
