.footer {
  padding-top: 73px;
  padding-bottom: 25px;
  position: relative;
  background-color: $secondary-bg-color;

  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 18px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 10px;
  }

  &__border {
    border-bottom-style: solid;
    border-color: $border-color;
    border-width: 1px;
    padding-bottom: 43px;

    @media screen and (min-width: 768px) {
      padding-bottom: 91px;
    }

    @media screen and (min-width: 1280px) {
      padding-bottom: 97px;
    }
  }

  &__container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__name {
    margin-bottom: 43px;

    width: 234px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      width: 340px;
    }

    @media screen and (min-width: 1280px) {
      width: 472px;
    }
  }

  &__text-top-first {
    margin-left: 0;

    @include font(18px, 1.17, $secondary-accent-color, $secondary-font);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      @include font(26px, 1.15, $secondary-accent-color, $secondary-font);
    }

    @media screen and (min-width: 1280px) {
      @include font(30px, 1.13, $secondary-accent-color, $secondary-font);
    }
  }

  &__text-top-sec {
    margin-top: 17px;
    margin-left: 0;

    @include font(34px, 1.14, $accent-color, $secondary-font);
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      margin-top: 16px;

      @include font(48px, 1.15, $accent-color, $secondary-font, 0.06em);
    }

    @media screen and (min-width: 1280px) {
      margin-top: 15px;

      width: 477px;
      @include font(58px, 1.14, $accent-color, $secondary-font, 0.06em);
    }
  }

  &__content {
  }

  &__list {
    margin-bottom: 46px;
    margin-left: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 152px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      width: 162px;
    }

    @media screen and (min-width: 1280px) {
      width: 151px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    background-color: #fea5bb;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      width: 34px;
      height: 34px;
    }

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: $main-white-color;
  }

  &__text-middle {
    @include font(12px, 1.86, $second-text-color);
    font-weight: 700;
    text-align: right;

    @media screen and (min-width: 768px) {
      @include font(14px, 1.86, $second-text-color);
    }
  }

  &__tel {
    @include font(12px, 1.86, $accent-color);
    font-weight: 700;

    @media screen and (min-width: 768px) {
      @include font(14px, 1.86, $accent-color);
    }
  }

  &__text-bottom {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;

    width: 150px;

    @include font(14px, 1.52, $third-text-color);
    font-weight: 700;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-top: 29px;

      width: 100%;
      @include font(14px, 1.86, $third-text-color, $main-font, 0.02em);
    }

    @media screen and (min-width: 1280px) {
      margin-top: 9px;

      width: 100%;
      @include font(14px, 1.86, $third-text-color, $main-font, 0.02em);
    }
  }
}
