.gallery-section {
  background-image: linear-gradient(to top, #ffffff 50%, #fff5f6 50%);
  padding-top: 48px;
  padding-bottom: 40px;

  @media screen and(min-width:768px) {
    padding-bottom: 60px;
    padding-top: 70px;
  }

  @media screen and(min-width:1280px) {
    padding-bottom: 62px;
    padding-top: 70px;
  }
}

.gallery-container {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  div {
    padding: 0px 10px 2px 5px;

    /*  width: 150px; */
    margin: 0 -1rem 0.5rem 0;

    @media screen and(min-width:768px) {
      padding: 0px 10px 2px 5px;

      /*  width: 150px; */
      margin: 0 -1rem 0.5rem 0;
    }

    @media screen and(min-width:1280px) {
      padding: 0px 10px 2px 5px;

      /*  width: 150px; */
      margin: 0 -1rem 0.5rem 0;
    }
    /* display: inline-block; */
    /*  border: solid 2px black; */
    /* padding: 5px; */
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px; */
    /* transition: all 0.25s ease-in-out; */
  }
}

/* figure {
  margin: 0;
  padding: 0;
} */

.item1 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.3);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item2-3 {
  display: block;
}
.item2 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item3 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item4-5 {
  display: block;
}
.item4 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item555 {
  @media screen and(max-width:480px) {
    width: 40px;
    height: 40px;
  }
}
.item5 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item6-7 {
  display: block;
}
.item6 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item7 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item8-9 {
  display: block;
}
.item8 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}

.item9 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
.item10 {
  &:hover img {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

  img {
    /* width: 100%; */
    filter: grayscale(50%);

    transition: all 0.25s ease-in-out;
  }
}
