.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  // padding: 0 20px;
  &-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 34px;
    }
    // @media screen and (min-width: 1200px) {
    //   width: 1200px;
    //   padding: 0 46px;
    // }
    @media screen and (min-width: 1280px) {
      width: 1280px;
    }
  }
}

.header-wrap {
  padding-top: 6px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
}

.mobile-menu__open {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  height: 12px;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.header__btn--tablet {
  display: none;
  padding: 11px 0;
  min-width: 160px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 110px;
  }
}

.is-show {
  // opacity: 0;
  transform: translateX(100%);
  transition: transform 1s $timing-function;
  pointer-events: none;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #e17992;
  z-index: 5;
  transition: transform 1s $timing-function;
  @media screen and (min-width: 768px) {
    width: 254px;
  }

  &__close {
    display: block;
    margin-left: auto;
    margin-top: 23px;
    margin-right: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.header__btn {
  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3125;

  cursor: pointer;
  color: $accent-color;
  background-color: $main-white-color;
  border: none;

  border-radius: 22px;

  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $btn-accent-hover-color;
    color: $btn-hover-color;
  }
}

.header__btn--mob {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 19px;
  width: auto;
  padding: 11px 49px;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
}

.mob-menu__item {
  width: 100%;
  padding-left: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.mob-menu__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  align-items: center;
  color: $main-white-color;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav {
  display: none;
  margin-left: auto;
  @media screen and (min-width: 1280px) {
    display: block;
  }
  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    color: $main-white-color;
    transition: color $transition-duration $timing-function;
  }
  &__link:hover {
    color: $accent-color;
  }
}
