.hero {
  width: 100%;
  height: 502px;
  background-color: $hero-bg-color;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
  @media screen and (min-width: 1280px) {
    height: 665px;
  }

  &-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
      padding: 0 34px;
    }
    @media screen and (min-width: 1280px) {
      width: 1280px;
      padding-left: 114px;
      padding-right: 34px;
    }
  }
  &-content {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &-thumb {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 768px) {
      // padding-top: 102px;
      justify-content: flex-start;
      margin-top: 102px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 171px;
    }
  }
  &-wrap {
    max-width: 218px;
    margin-bottom: 19px;
    @media screen and (min-width: 768px) {
      max-width: 162px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 277px;
      margin-bottom: 25px;
    }
  }
  &__title {
    font-family: $secondary-font;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $main-white-color;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 38px;
      line-height: 1.15;
    }
  }
  &__span {
    display: block;
    color: $accent-color;
    font-size: 48px;
    line-height: 0.95;
    @media screen and (min-width: 768px) {
      font-size: 34px;
      line-height: 0.91;
    }
    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 0.9;
    }
  }
  &-list {
    display: flex;
  }
  &-list__item:not(:last-child) {
    margin-right: 8px;
  }
}

.hero__btn {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  background-color: $main-white-color;
  border: none;
  border-radius: 20px;
  transition: color $transition-duration $timing-function;
  font-family: $main-font;
  font-style: normal;
  font-size: 8px;
  line-height: 1.25;
  color: $accent-color;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color $transition-duration $timing-function;
  &:hover,
  &:focus {
    background-color: $btn-accent-hover-color;
    color: $btn-hover-color;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.28;
  }
  &--left {
    min-width: 63px;
    margin-right: 8px;
    @media screen and (min-width: 1280px) {
      min-width: 104px;
    }
  }
  &--right {
    min-width: 83px;
    @media screen and (min-width: 1280px) {
      min-width: 138px;
    }
  }
}

.hero-left-bottom {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-top: 19px;
  }
}

.left-bottom-thumb {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 28px;
    left: 0;
  }
  @media screen and (min-width: 1280px) {
    min-width: 188px;
    bottom: 45px;
    left: -42px;
  }
}

.left-bottom-content {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    bottom: 34px;
    left: 125px;
    position: absolute;
  }

  @media screen and (min-width: 1280px) {
    bottom: 56px;
    left: 188px;
  }
}

.text-thumb {
  margin-bottom: 7px;
  height: 53px;
  width: 114px;
  overflow: hidden;
  @media screen and (min-width: 1280px) {
    width: 200px;
    height: 78px;
  }
}
.show-text {
  overflow: visible;
  position: absolute;
  left: 0;
  top: -280px;
  height: 270px;
  z-index: 5;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  background-color: rgba(225, 121, 146, 0.7);
  @media screen and (min-width: 1280px) {
    height: 300px;
    top: -310px;
  }
}

.left-bottom__text {
  font-size: 8px;
  line-height: 1.75;
  color: $main-white-color;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.4;
  }
}

.after-text__button {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover,
  &:focus {
    background-image: linear-gradient(90deg, #d0ffd7 0%, #f8f7a9 49%, #f7dce6 80%, #f7f89b 100%);
    animation: slidebg 5s linear infinite;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
  }
}

.after-text__icon {
  fill: $accent-color;
}

.hero-baner-thumb {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $secondary-accent-color;
  position: relative;
  top: 83px;
  left: 36px;
  animation-duration: 1s;
  animation-name: thumb;
  @media screen and (min-width: 480px) {
    left: 50%;
    transform: translateX(-50%);
  }
  @media screen and (min-width: 768px) {
    top: 31px;
    left: 273px;
    transform: none;
    width: 324px;
    height: 322px;
    animation-name: thumb1;
  }
  @media screen and (min-width: 1280px) {
    top: 51px;
    left: 436px;
    transform: none;
    width: 538px;
    height: 538px;
    animation-name: thumb2;
  }
}

@keyframes thumb {
  from {
    top: -500px;
  }
  to {
    top: 83px;
  }
}

@keyframes thumb1 {
  from {
    top: -500px;
  }
  to {
    top: 31px;
  }
}

@keyframes thumb2 {
  from {
    top: -500px;
  }
  to {
    top: 52px;
  }
}

.hero-baner__img {
  position: absolute;
  top: 9px;
  left: 81px;
  animation-duration: 2.5s;
  animation-name: baner;
  @media screen and (min-width: 768px) {
    top: 32px;
    left: 71px;
    animation-name: baner1;
  }
  @media screen and (min-width: 1280px) {
    top: 56px;
    left: 117px;
    animation-name: baner2;
  }
}

@keyframes baner {
  from {
    left: -500px;
  }
  to {
    left: 81px;
  }
}

@keyframes baner1 {
  from {
    left: -500px;
  }
  to {
    left: 71px;
  }
}

@keyframes baner2 {
  from {
    left: -900px;
  }
  to {
    left: 117px;
  }
}

.hero-right {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    // padding-top: 99px;
    margin-top: 99px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 156px;
  }
  &-top {
    // margin-bottom: 72px;
    // @media screen and (min-width: 1200px) {
    //   position: absolute;
    //   top: 125px;
    //   right: -36px;
    // }
    @media screen and (min-width: 1280px) {
      right: -70px;
    }
  }
  &__span {
    font-family: Titan One;
    font-size: 28px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: block;
    color: $accent-color;
    position: relative;
    @media screen and (min-width: 1280px) {
      font-size: 46px;
      line-height: 1.15;
    }
  }
  &__span::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $main-white-color;
    position: absolute;
    top: -5px;
    right: -8px;
    z-index: -1;
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      top: -5px;
      right: -11px;
    }
  }
  &__text {
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    margin-right: 8px;
    color: $main-white-color;
    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.28;
    }
  }
  &__text:not(:last-child) {
    margin-bottom: 13px;
  }
}

.right-bottom__img {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0px;
    animation-duration: 3s;
    animation-name: girl;
  }
}
@keyframes girl {
  from {
    right: -900px;
  }
  to {
    right: 0px;
  }
}
