p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
  @media screen and(min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and(min-width: 1280px) {
    padding-top: 126px;
    padding-bottom: 119px;
  }
}

.products__label-title {
  margin-bottom: 15px;
  text-align: center;
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-accent-color;

  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__title {
  margin-bottom: 144px;
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $accent-color;
  @media screen and(min-width: 768px) {
    margin-bottom: 150px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and(min-width: 1280px) {
    margin-bottom: 259px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.products__list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
  @media screen and(min-width: 1280px) {
    margin: -15px;
    flex-wrap: nowrap;
  }
}

.products__item {
  position: relative;
  margin: 0 auto;
  padding-top: 161px;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 146px;
    }
  }

  @media screen and(min-width: 768px) {
    margin: 10px;
    width: 220px;
  }
  @media screen and(min-width: 1280px) {
    margin: 15px;
    width: 330px;
  }

  //   .products__bla-bla-bla.is-shown & {
  //   height: 550px;
  // }
}
//                           ⇈
// !!!!!!!!! ВОТ Я ЭТУ КОМАНДУ ВНИЗУ ЗАПИСАЛА И ВВЕРХУ ТОЛЬКО В СТИЛЕ SASS, НО ОДИН ХЕР НЕ РАБОТАЕТ(((((

// Хочу, чтоб карточка становилась длинее, когда текст блаблабла показан... команда же верна?

// И еще проблема, скрипт работает только на первой карточке(

.products__bla-bla-bla.is-shown .products__item {
  height: 550px;
}

.icecream {
  background: $cream-card-bg-color;
  &::before {
    position: absolute;
    content: url('/images/Products/ice-cream-mob@1x.png');
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and(min-width: 768px) {
      content: url('/images/Products/ice-cream-tablet@1x.png');
    }
    @media screen and(min-width: 1280px) {
      content: url('/images/Products/ice-cream.png');
      top: -50px;
    }
  }
}

.icecoffee {
  background: $coffee-card-bg-color;
  &::before {
    position: absolute;
    content: url('/images/Products/ice-coffee-mob@1x.png');
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and(min-width: 768px) {
      content: url('/images/Products/ice-coffee-tablet@1x.png');
    }
    @media screen and(min-width: 1280px) {
      content: url('/images/Products/ice-coffee.png');
      top: -50px;
    }
  }
}

.milkshakes {
  background: $milkshake-card-bg-color;
  &::before {
    position: absolute;
    content: url('/images/Products/milkshakes-mob@1x.png');
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and(min-width: 768px) {
      content: url('/images/Products/milkshakes-tablet@1x.png');
    }
    @media screen and(min-width: 1280px) {
      content: url('/images/Products/milkshakes.png');
      top: -50px;
    }
  }
}

.products__item-title {
  margin-bottom: 66px;
  height: 23px;
  font-family: $secondary-font;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $main-white-color;

  @media screen and(min-width: 1280px) {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__item-title::after {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: url('/images/Products/white-dots-divider.svg');
  display: block;
  @media screen and(min-width: 1280px) {
    top: 45%;
  }
}

.products__item-description {
  position: relative;
  width: 200px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 41px;

  @media screen and(min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and(min-width: 1280px) {
    margin-bottom: 50px;
    width: 100%;
  }
}

.products__item-text {
  width: 100%;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-white-color;

  @media screen and(min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
    width: 198px;
  }
  @media screen and(min-width: 1280px) {
    width: 241px;
    font-size: 16px;
    line-height: 1.76;
    margin-bottom: 62px;
  }
}

.products__bla-bla-bla {
  width: 100%;
  margin-bottom: 30px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-white-color;

  @media screen and(min-width: 768px) {
    position: absolute;
    bottom: 15%;
    left: 0;
    margin: 0 auto;
    padding: 0 15px;
    opacity: 0;

    transform: translateX(0);
    transition-timing-function: $timing-function;
    transition-duration: $transition-duration;
  }
  @media screen and(min-width: 1280px) {
    bottom: 36%;
    left: 0;
  }
}

.is-shown {
  opacity: 1;
  line-height: 1.76;
  @media screen and(min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
  }
}

.products__icon {
  width: 11px;
  height: 11px;
  fill: $accent-color;
}

.products__button {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $main-white-color;
  border: none;
  transition-property: box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
