.customer-reviews {
  padding: 40px 0;
}

.slide__customer-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide__img-thumb {
  margin-bottom: 30px;
}

.slide__review-wrapper {
  padding: 47px 50px 20px;
  margin-bottom: 30px;
  background: $review-bg-color;

  @media screen and(min-width:768px) {
    width: 620px;
  }
  @media screen and(min-width:1200px) {
    width: 926px;
  }
}

.slide__review-text {
  position: relative;
  padding: 0 20px;
  top: 0;
  left: 0;
  text-align: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  z-index: 3;
  background: repeating-linear-gradient($border-color, 1px, transparent 2px, transparent 31px);

  @media screen and(min-width:480px) {
    width: 370px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width:768px) {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
  }

  @media screen and(min-width:1200px) {
    width: 822px;
    font-size: 16px;
    line-height: 1.86;
  }

  &::before {
    content: '';
    display: block;
    width: 54px;
    height: 40px;
    position: absolute;
    top: -16px;
    left: 15px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url('/images/Сustomer-reviews/icons/quotes.svg');

    @media screen and(min-width:768px) {
      left: -20px;
    }

    @media screen and(min-width:1200px) {
      top: -13px;
      left: -24px;
    }
  }
}

.slide__name-thumb {
  padding-bottom: 30px;

  &::before {
    content: '';
    display: block;
    height: 4px;
    margin-bottom: 18px;
    background-image: url('/images/Сustomer-reviews/icons/red-dots.svg');
    background-position: center;
    background-repeat: no-repeat;
  }
}

.slide__customer-name {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: $second-text-color;

  @media screen and(min-width:768px) {
    font-size: 16px;
  }
  @media screen and(min-width:1200px) {
    font-size: 20px;
  }
}

// SLIDER
.slick-dots li {
  height: 12px;
  width: 12px;
  margin: auto 9px;
  padding: 0;
}
.slick-dots li button {
  height: 12px;
  width: 12px;

  &::before {
    line-height: 12px;
    font-size: 12px;
    height: 12px;
    width: 12px;
    color: $vector-ellipse-color;
    opacity: 1;
  }
}

.slick-dots li.slick-active button:before {
  background-image: url('/images/Сustomer-reviews/icons/home.svg');
  color: transparent;
}
